/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2016 Steven Palmer All rights reserved.
 * @version             1.4
 */
/* Container
------------------------------------------------------------------------------- */
ul.cw-social-container {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.cw-social-container li {
  background: none;
  display: inline-block;
  margin: 5px 0px 5px 5px;
  overflow: visible;
  padding: 0px;
}
/* Button
------------------------------------------------------------------------------- */
.cw-social.cw-button {
  border-radius: 0px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  min-width: 40px;
  text-shadow: none;
}
.cw-social.cw-button:hover,
.cw-social.cw-button:focus,
.cw-social.cw-button:active,
.cw-social:hover,
.cw-social:focus,
.cw-social:active {
  color: #ffffff;
}
/* Button Small
------------------------------------------------------------------------------- */
.cw-small .cw-social {
  font-size: 14px;
  font-weight: 800;
  height: 36px;
  line-height: 36px;
}
.cw-small .cw-share-count {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 10px;
}
.cw-social.cw-small {
  font-size: 14px;
  font-weight: 800;
  height: 36px;
  line-height: 36px;
}
/* Button Medium
------------------------------------------------------------------------------- */
.cw-medium .cw-social {
  font-size: 16px;
  font-weight: 900;
  height: 44px;
  line-height: 44px;
}
.cw-medium .cw-share-count {
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  padding: 12px 12px 13px 12px;
}
.cw-social.cw-medium {
  font-size: 16px;
  font-weight: 900;
  height: 44px;
  line-height: 44px;
}
/* Button Large
------------------------------------------------------------------------------- */
.cw-large .cw-social {
  font-size: 18px;
  font-weight: 900;
  height: 58px;
  line-height: 58px;
}
.cw-large .cw-share-count {
  font-size: 18px;
  height: 58px;
  line-height: 58px;
  padding: 18px 18px 19px 18px;
}
.cw-social.cw-large {
  font-size: 18px;
  font-weight: 900;
  height: 58px;
  line-height: 58px;
}
/* No Text
------------------------------------------------------------------------------- */
.cw-no-text {
  margin-top: 8px;
}
/* Count
------------------------------------------------------------------------------- */
.cw-button.cw-share-count {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-left: 0px;
  border-radius: 0px;
  color: #333333;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  position: relative;
  transition: opacity 0.2s ease-in;
}
.cw-share-count.cw-small {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}
.cw-share-count.cw-medium {
  font-size: 16px;
  height: 44px;
  line-height: 44px;
}
.cw-share-count.cw-large {
  font-size: 18px;
  height: 58px;
  line-height: 58px;
}
/* Social Networks
------------------------------------------------------------------------------- */
.cw-social.cw-twitter {
  background: #55ACEE;
}
.cw-social.cw-twitter:hover {
  background: #2795e9;
}
.cw-social.cw-twitter:active {
  background: #2795e9;
}
.cw-social.cw-twitter:focus {
  background: #2795e9;
}
.cw-social.cw-twitter {
  background: #55ACEE;
}
.cw-social.cw-twitter:hover {
  background: #2795e9;
}
.cw-social.cw-twitter:active {
  background: #2795e9;
}
.cw-social.cw-twitter:focus {
  background: #2795e9;
}
.cw-social.cw-google-plus {
  background: #DD4B39;
}
.cw-social.cw-google-plus:hover {
  background: #c23321;
}
.cw-social.cw-google-plus:active {
  background: #c23321;
}
.cw-social.cw-google-plus:focus {
  background: #c23321;
}
.cw-social.cw-pinterest {
  background: #CB2027;
}
.cw-social.cw-pinterest:hover {
  background: #9f191f;
}
.cw-social.cw-pinterest:active {
  background: #9f191f;
}
.cw-social.cw-pinterest:focus {
  background: #9f191f;
}
.cw-social.cw-facebook {
  background: #3B5998;
}
.cw-social.cw-facebook:hover {
  background: #2d4373;
}
.cw-social.cw-facebook:active {
  background: #2d4373;
}
.cw-social.cw-facebook:focus {
  background: #2d4373;
}
.cw-social.cw-stumbleupon {
  background: #ff5500;
}
.cw-social.cw-stumbleupon:hover {
  background: #cc4400;
}
.cw-social.cw-stumbleupon:active {
  background: #cc4400;
}
.cw-social.cw-stumbleupon:focus {
  background: #cc4400;
}
.cw-social.cw-reddit {
  background: #444444;
}
.cw-social.cw-reddit:hover {
  background: #696868;
}
.cw-social.cw-reddit:active {
  background: #696868;
}
.cw-social.cw-reddit:focus {
  background: #696868;
}
.cw-social.cw-linkedin {
  background: #007BB6;
}
.cw-social.cw-linkedin:hover {
  background: #005983;
}
.cw-social.cw-linkedin:active {
  background: #005983;
}
.cw-social.cw-linkedin:focus {
  background: #005983;
}
.cw-social.cw-digg {
  background: #2672EC;
}
.cw-social.cw-digg:hover {
  background: #125acd;
}
.cw-social.cw-digg:active {
  background: #125acd;
}
.cw-social.cw-digg:focus {
  background: #125acd;
}
.cw-social.cw-mail {
  background: #444444;
}
.cw-social.cw-mail:hover {
  background: #696868;
}
.cw-social.cw-mail:active {
  background: #696868;
}
.cw-social.cw-mail:focus {
  background: #696868;
}
.cw-social.cw-whatsapp {
  background: #42AA42;
}
.cw-social.cw-whatsapp:hover {
  background: #268132;
}
.cw-social.cw-whatsapp:active {
  background: #268132;
}
.cw-social.cw-whatsapp:focus {
  background: #268132;
}
.cw-social.cw-flickr {
  background: #FF0084;
}
.cw-social.cw-flickr:hover {
  background: #cc006a;
}
.cw-social.cw-flickr:active {
  background: #cc006a;
}
.cw-social.cw-flickr:focus {
  background: #cc006a;
}
.cw-social.cw-github {
  background: #444444;
}
.cw-social.cw-github:hover {
  background: #696868;
}
.cw-social.cw-github:active {
  background: #696868;
}
.cw-social.cw-github:focus {
  background: #696868;
}
