/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2016 Steven Palmer All rights reserved.
 */

/* Share Plugin RTL Style
------------------------------------------------------------------------------- */

.cw-plg-share {
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;
    text-align:right;
    display: inline-block;
}

.cw-comment-count, .cw-share-count {
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    padding-left: 5px;
}

.cw-count-number {
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #000;
}

.cw-count-label {
    color: #A6ABAF;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-top: 2px;
    height: 0.6em;
}

/* End
------------------------------------------------------------------------------*/